<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="0"
    android:versionName="0"
    package="pub.chara.cwui.pretend_sharing">

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SettingsActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".GuideActivity"></activity>
        <activity android:name=".JumpActivity" android:theme="@android:style/Theme.Translucent">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".QQActivity" android:label="@string/label_qq" android:theme="@android:style/Theme.Translucent" android:launchMode="standard">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="mqq" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="mqqapi" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="http" />
                <data android:host="clientui.3g.qq.com" />
                <data android:pathPrefix="/" />
            </intent-filter>
        </activity>
        <activity android:name=".WechatActivity" android:label="@string/label_wechat" android:theme="@android:style/Theme.Translucent" android:excludeFromRecents="true">
            <intent-filter>
                <data android:scheme="weixin"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
        </activity>
        <activity android:name=".GenericActivity" android:label="@string/label_generic" android:theme="@android:style/Theme.Translucent" android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <data android:mimeType="*/*" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
<!--        <activity android:name=".WeiboActivity" android:label="@string/label_weibo" android:theme="@android:style/Theme.Translucent" android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_WEIBO_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>-->
    </application>

</manifest>